* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Serif", serif;
  background: #F5E6CA; 
  color: #3e2f1c;    
}

.App {
  background: #F5E6CA;
  color: #2a1c0f;      
  font-family: "Poltawski Nowy", serif;
}

.main-content {
  padding-top: 0; 
  display: flex;
  flex-direction: column;
  gap: 60px;
  background: #F5E6CA; 
}
